@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  /* SPACING AND FONTS */
  --gap-from-line: 4rem;
  --line-dimension: 1px;
  --signal-dimension: 1rem;
  --font: Inter, sans-serif;
  --box-padding: var(--gap-from-line);

  /* COLORS FOR THE PAGE */
  --background: rgb(43, 50, 65);
  --links: rgba(55, 193, 255, 1);
  --color: white;
  --outline: white;

  /* COLORS FOR THE TIMELINE */
  --overlay: #363c4b;
  --gray: rgb(220, 244, 255);
  --muted: rgba(221, 221, 221, 0.263);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 4rem;
  gap: 8rem;
  font-family: var(--font);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: var(--color)
}

h1,
p,
span,
div,
ol,
ul,
code,
pre {
  color: var(--color);
}

p,
span,
div,
a {
  font-weight: 400;
}

a {
  color: var(--links);
  text-decoration: none;
}

button {
  font-family: var(--font);
}

a:focus {
  outline: solid 1px var(--outline);
  outline-offset: 2px;
}

code {
  padding: .2rem;
  border: solid 1px var(--muted);
  border-radius: .4rem;
  background-color: var(--overlay);
  color: var(--color);
  font-size: 1rem;
  min-width: max-content;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.title {
  font-size: 4rem;
}

.title-info-text {
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray);
}

.docs {
  width: fit-content;
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  border: solid .5rem var(--overlay);
  border-radius: .5rem;
}

@media (max-width: 990px) {
  .docs {
    border: none;
    align-items: flex-start;
  }
}

.docs section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.docs h1,
.docs h1 * {
  font-size: 2.6rem;
  margin-bottom: .8rem;
}

.docs h2,
.docs h2 * {
  font-size: 2.1rem;
  margin-bottom: .6rem;
}

.docs h3,
.docs h3 * {
  font-size: 1.7rem;
  margin-bottom: .4rem;
}

.docs h4,
.docs h4 * {
  font-size: 1.35rem;
  margin-bottom: .2rem;
}

.docs p {
  margin-right: 1rem;
}

.docs p,
.docs li {
  line-height: 1.7;
  width: 50rem;
  max-width: calc(100vw - 2rem);
}

.docs li {
  max-width: calc(100vw - 3.5rem);
}

/* nested */
.docs ol ul li {
  max-width: calc(100vw - 4rem);
  background-color: red;
}

.docs pre {
  padding-inline: 1rem;
  padding-block: .7rem;
  font-size: .9rem;
  background-color: var(--overlay);
  border-radius: .5rem;
  width: 30rem;
  white-space: pre-wrap;
  max-width: calc(100vw - 3rem);
}

.docs ol,
.docs ul,
.docs li {
  margin-left: 1rem;
}

.docs ol li,
.docs ul li {
  margin-block: .7rem;
}

.docs .code-pre {
  min-width: unset;
  width: 50rem;
  max-width: calc(100vw - 3rem) !important;
  white-space: pre-wrap;
  background-color: var(--overlay);
  padding: 1rem;
}

.docs .link-with-code code {
  color: var(--links) !important;
}

/* menu code */

.menu-button {
  background-color: var(--overlay);
  padding: .7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 1px var(--gray);
  position: fixed;
  top: 2rem;
  right: 1rem;
}

.menu-button svg {
  height: 1.25rem;
  width: 1.25rem;
}

.menu-container {
  position: fixed;
  top: 6rem;
  right: 1rem;
  background-color: var(--overlay);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20rem;
  height: 20rem;
  overflow: auto;
  max-width: calc(100vw - 5rem);
  min-height: 10rem;
  max-height: calc(80vh - calc(6rem + 1.4rem + 1rem));
  padding: 1rem;
  border-radius: .5rem;
  border: solid 2px var(--gray);
  transform: translateX(100%);
  opacity: 0;
  transition-property: transform, opacity;
  transition: 300ms ease;
}

.menu-container.shown {
  opacity: 1;
  transform: translateX(0);
}

.menu-container * {
  color: white;
}

.section-map-info, .section-map-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;
  width: 100%;
  cursor: pointer;
}

.section-map-info * {
  font-weight: 700;
}

.section-map-header {
  width: calc(100% - 1rem);
}

.menu-container .badge {
  background-color: var(--gray);
  color: var(--overlay);
  height: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-map > *:not(.section-map-info) {
  margin-left: .5rem;
}

.section-map-header > * {
  min-width: max-content;
  margin-top: .5rem;
}

[data-header='1'] {
  margin-block: 1rem;
}

[data-header='2'] {
  margin-left: 1rem !important;
  margin-block: .6rem;
  opacity: .95;
}

[data-header='3'] {
  margin-left: 1.5rem !important;
  margin-block: .5rem;
  opacity: .9;
}

[data-header='4'] {
  margin-left: 2.2rem !important;
  margin-block-end: .3rem;
  opacity: .85;
}